@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Red+Rose:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Helvetica;
}

.hidden {
    display: none;
}

.page-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 6vh);
}

.content-container {
    display: grid;
    grid-template-rows: repeat(12, 6vh);
    grid-template-columns: repeat(4, 1fr);
    grid-column: 3 / 8;
    grid-row: 1 / 13;
}

.info-and-cover-container {
    display: flex;
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    justify-content: space-around;
    height: 80%;
}

#cover {
    grid-area: cover;
    width: 150px;
    height: 213px;
    margin: 0px 0px 10px;
}

.star {
    height: 20px;
}

.star-container {
    height: 20px;
}

.select-shelves-placeholder {

}

#summary {
    grid-column: 2 / 5;
}