@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Red+Rose:wght@300;400;700&display=swap');

:root {
  --grey-text: #808080;
  --header-text: #382110;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
}

.hidden {
  display: none;
}

.page-container {
  padding: 4vh 20vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding-right: 8vw;
}

.info-and-cover-container {
  display: flex;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-top: 30px;
}

.book-content-container {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  min-height: 48vh;
}

.cover-and-shelf-container {
  display: flex;
  flex-direction: column;
  min-width: 174px;
  align-items: center;
}

#cover {
  grid-area: cover;
  max-width: 138px;
  height: 210px;
}


.star {
  height: 20px;
}

.star-container {
  height: 20px;
  margin-left: 10px;
  margin-top: -4px;
}

#summary {
  width: 100%;
  margin-top: 80px;
}

.review-info {
  display: flex;
  align-items: center;
}

.filled-star {
  fill: yellow;
}

.summary-paragraph {
  line-height: 1.6rem;
  font-size: 1rem;
}

#title {
  font-size: 2rem;
}

#series {
  font-size: 1.4rem;
}

.review-count {
  margin-left: 10px;
}

.review-row {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #9a9a9a;
}

.review-row-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#review-list {
  padding: 1rem 18% 0rem 1rem;
}

.review-row-content {
  width: 100%;
  margin-left: 2rem;
}

.first-review-row {
  padding-top: 0;
}

.review-text {
  margin-top: 10px;
  font-size: 0.8rem;
}

.user-name {
  display: inline-block;
  color: var(--grey-text);
}

.review-date {
  color: #c1bbbb;
}

.filled-user-star {
  fill: #fa604a;
}
.user-stars {
  display: inline-block;
  margin-bottom: -6px;
}

.user-star {
  height: 16px;
}

#author,
.review-info {
  color: var(--grey-text);
}

.select-shelves-placeholder {
    position: relative;
    grid-area: shelves;
    font-size: 1.42vh;
    height: 3vh;
    background-color: #DFDFDF;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 0.6vw;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 0;
}

#title,
#series,
.review-header {
  color: var(--header-text);
}

.review-header {
  margin-left: 2rem;
}

.body-shelves-container {
  position: relative;
  min-height: 18px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-width: 192px;
  font-size: 1rem;
  background-color: #dfdfdf;
  margin-top: 2rem;
}

.shelve-list-container {
  position: absolute;
  left: -2px;
  top: 31px;
  padding: 14px 0 14px 22px;
  background-color: rgb(233, 233, 233);
  z-index: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  min-width: 180px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.select-shelves-placeholder {
  margin-left: 16px;
}

.shelve-list-container > ul {
  list-style: none;
}

.review-link-button {
  margin-top: 2rem;
  text-decoration: none;
  color: black;
  background-color: #dfdfdf;
  padding: 0.4rem;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.no-pointer-events {
  pointer-events: none;
}

.saving {
  margin-left: 60px;
}
