@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Red+Rose:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica;
}

.hidden {
  display: none;
}

.page-container {
  padding: 4vh 20vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding-right: 8vw;
}

.info-and-cover-container {
  display: flex;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-top: 30px;
}

.book-content-container {
  display: flex;
  flex-direction: column;
  margin-left: 36px;
  min-height: 48vh;
}

.cover-and-shelf-container {
  display: flex;
  flex-direction: column;
  min-width: 174px;
  align-items: center;
}

#cover {
  grid-area: cover;
  max-width: 138px;
  height: 210px;
}

.star {
  height: 20px;
}

.star-container {
  height: 20px;
  margin-left: 10px;
}

.select-shelves-placeholder {
  margin-top: 20px;
}

#summary {
  width: 100%;
  margin-top: 80px;
}

.review-info {
  display: flex;
  align-items: center;
}

.filled-star {
  fill: yellow;
}

.summary-paragraph {
  line-height: 1.6rem;
  font-size: 1rem;
}

#title {
  font-size: 2rem;
}

#series {
  font-size: 1.4rem;
}

.review-count {
  margin-left: 10px;
}

.review-row {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #9a9a9a;
}

.review-row-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#review-list {
  padding: 1rem 18% 0rem 1rem;
}

.review-row-content {
  width: 100%;
  margin-left: 2rem;
}

.first-review-row {
  padding-top: 0;
}

.review-text {
  margin-top: 10px;
  font-size: 0.8rem;
}

.user-name {
  display: inline-block;
  color: #808080;
}

.review-date {
  color: #c1bbbb;
}
