@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.header-container {
  display: flex;
  height: 71px;
  padding: 0 1vw 0 7.5vw;
  justify-content: space-between;
  border-bottom: 2px solid #a0a0a0;
}

.header__left {
  font-family: 'Manrope', sans-serif;
  font-size: 28px;
}

.goodreads-header {
  margin-top: -0.6rem;
  font-family: 'Manrope', sans-serif;
  font-size: 58px;
  color: #4c2f1c;
}

.header__left--good {
  font-weight: 200;
  font-family: 'Manrope';
}

.header__left--reads {
  font-family: 'Manrope';
  font-weight: 400;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right-item:not(.header__right-item--profile) {
  display: block;
  width: 9vw;
  height: inherit;
  padding: calc((71px - 26px) / 2) 0px;
  color: grey;
  font-size: 1.4rem;
  text-align: center;
}

.header__right-item {
  text-decoration: none;
}

.header__right-item:not(.header__right-item--profile):hover {
  background-color: rgb(204, 204, 204);
}

.header__right-item--profile {
  display: block;
  margin-left: 2vw;
}

.header__right-item--profile-pic {
  border-radius: 50%;
  margin-left: 20px;
}

.search-form {
  margin: auto 0;
}

#myInput {
  height: 3vh;
  margin-right: 20px;
}

.drop-list {
  list-style: none;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 4px;
}

.drop-list a {
  text-decoration: none;
  color: rgb(110, 110, 110);
}

.dropContainer {
  position: relative;
  vertical-align: middle;
}

.dropContent {
  position: absolute;
  background-color: white;
  top: 6.6vh;
  left: 0.7vw;
  border-radius: 4px;
}

.dropContent li {
  padding-left: 0.4vw;
  padding-right: 1vw;
  padding-bottom: 0.6vh;
  padding-top: 0.8vh;
  font-size: 1.6vh;
  height: 2.4vh;
}

.dropContent li:hover {
  background-color: rgb(204, 204, 204);
}

.dropProfileContent {
  position: absolute;
  background-color: white;
  top: 6.6vh;
  left: 1.7vw;
  border-radius: 4px;
  margin-top: 13px;
}

.dropProfileContent li {
  padding-left: 0.4vw;
  padding-right: 1vw;
  padding-bottom: 0.6vh;
  padding-top: 0.8vh;
  font-size: 1.6vh;
  height: 2.4vh;
}

.dropProfileContent li:hover {
  background-color: rgb(204, 204, 204);
}

.hidden {
  display: none;
}

.selected {
  text-decoration: underline;
  background-color: rgb(204, 204, 204);
}

.logout-button-image {
  height: 24px;
}

.logout-button {
  width: 8%;
  background: #ffffff;
  border: none;
  padding: 6px 0px 6px 2px;
  border-radius: 4px;
  margin-left: 24px;
}

.logout-button:hover {
  filter: brightness(90%);
}

@media screen and (max-width: 1440px) {
  .header-container {
    padding-left: 4%;
  }
}
