* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body:not(.header__left) {
  font-family: Helvetica;
}

.body-content-container {
  display: flex;
  flex-direction: column;
  padding: 1% 18% 2%;
  margin-bottom: 2%;
  min-width: 676px;
  min-height: 672px;
}

.body-header-container {
  margin-top: 20px;
  min-width: 738px;
}

.body-header-container__item--text {
  font-size: 26px;
  font-weight: 550;
}

.book-link-header {
  text-decoration: none;
  color: #00635d;
}

.body-book-container {
  display: flex;
  margin-top: 2vh;
}

.book-container__item--cover {
  height: 132px;
}

.book-container__text-container {
  margin-left: 1vw;
  margin-top: 2vh;
}

.book-container__text-item--title {
  font-size: 21px;
  color: black;
}

.book-title__link {
  text-decoration: none;
  color: black;
}

.book-container__text-item--authors {
  color: black;
  font-weight: 540;
  font-size: 17px;
  margin-top: 1.2vh;
}

.body-rating-shelf-container {
  display: flex;
  flex-direction: column;

  margin-top: 12px;
}

.body-rating-container {
  display: flex;
}

.rating-container__text--my-rating {
  display: inline-block;
  padding-top: 1vh;
}

.stars {
  display: inline-flex;
  margin-left: 1vw;
  height: 6vh;
  padding-top: 1vh;
  margin-top: -1vh;
}

svg {
  height: 30px;
  padding-right: 0.4vw;
}

.clear-rating {
  display: block;
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: auto;
}

.clear-rating:hover {
  cursor: pointer;
}

.body-shelves-container {
  position: relative;
}

.select-shelves-placeholder {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 228px;
  height: 28px;
  font-size: 17px;
  background-color: #dfdfdf;
  margin-top: 12px;
}

.bookshelves-text {
  display: inline-block;
  margin-left: 1vw;
  margin-top: 0.4vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.shelve-list-container {
  position: absolute;
  left: -2px;
  top: 30px;
  padding: 14px 0 12px 18px;
  background-color: rgb(233, 233, 233);
  z-index: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 230px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.select-shelves-placeholder:hover {
  cursor: pointer;
}

.shelf-arrow-placeholder {
  display: inline-block;
  margin-left: 1vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

ul {
  list-style: none;
}

li:not(ul.footer-list > li) {
  padding-left: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  width: auto;
}

li:hover {
  background-color: rgb(221, 221, 221);
}

.review-content-container {
  min-height: 282px;
  margin-top: 24px;
}

.review-container__item--content {
  width: 650px;
  height: 224px;
  resize: none;
  font-family: Helvetica;
  font-size: 15px;
  margin-top: 1vh;
}

.submit-button {
  width: 78px;
  height: 26px;
  font-family: Helvetica;
  background-color: #dfdfdf;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 17px;
}

.hidden {
  display: none;
}

.star-on {
  fill: #f3b421;
}

.star-on-permanent {
  fill: #f3b421;
}
